.sport-preview {
  align-self: flex-start;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sport-preview > .title {
  text-align: center;
  margin-bottom: 20px;
}

.sport-preview > .content {
  text-align: justify;
  font-size: 18px;
}
